<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <h2>Opprett konto</h2><br>
    <%= f.label :fornavn %>
    <%= f.text_field :first_name, autofocus: true, class: 'text email', required: true %><br>
    <%= f.label :etternavn %>
    <%= f.text_field :last_name, autofocus: true, class: 'text email', required: true %><br>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'text email', required: true %><br>
    <%= f.label :telefon %> (valgfri)
    <%= f.text_field :phone, class: 'text email' %><br>
    <%= f.label :passord %>
    <%= f.password_field :password, autocomplete: "new-password", class: 'text email', required: true %><br>
    <%= f.label :passord_bekreftelse %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'text email', required: true %><br>
    Jeg godtar vilkårene som er sammenhengende med GDPR<br>
    <%= f.check_box :gdpr, checked: true, required: true %>
    <%= f.submit "Opprett konto", class: 'buy-button' %>
  </form>
  <p>Har du allerede en konto? <%= link_to 'Logg inn.', logg_in_path %></p>
<% end %>
