<p id="notice"><%= notice %></p>

<center><h2>Besteforelder:</h2></center>
<br>
<p>
  <strong>Fornavn:</strong>
  <%= @grandparent.first_name %>
</p>
<br>
<p>
  <strong>Etternavn:</strong>
  <%= @grandparent.last_name %>
</p>
<br>

<p>
  <strong>Konto:</strong>
  <%= @grandparent.member.first_name %> <%= @grandparent.member.last_name %> 
</p>

