<div style="padding-top;padding-left: 50px;"><h2>Redigér kurs</h2><%= @course.course_category.name if @course.course_category %> <%= @course.course_niveau.name if @course.course_niveau %> <%= @course.course_place.name if @course.course_place %></div>


<div style="margin:50px;background: #fff;border-radius:10px">

<div class="page-card">

	<div class="small-card">
		<%= form_for @course do |form| %>

    <div class="row">
	    <div class="col-md-6">
        <%= form.label :dato %>
        <%= form.date_field :day %><br><br><br>
        <%= form.label :fra_kl %>
        <%= form.time_field :time_from, value: "%H:%M" %>
        <%= form.label :tiL_kl %>
        <%= form.time_field :time_to, value: "%H:%M" %><br><br><br>
        <%= form.label :maks_antall_deltagere %>
        <%= form.number_field :limit, placeholder: 'Maks antall deltagere' %>
	    </div>
	    <div class="col-md-6">
        Pris: <%= form.text_field :price, placeholder: 'Pris' %><br><br>
        <%= form.text_area :description, placeholder: 'Beskrivelse' %><br><br>
      </div>
    </div>
    <br><br>
    <div class="row">
	    <div class="col-md-6">
	      <%= form.select :course_category_id, CourseCategory.all.map { |u| ["#{u.name}", u.id] }, { include_blank: true, prompt: 'Velg kategori' }, { class: 'chosen-select' } %>
     </div>
	    <div class="col-md-6">
       <%= form.select :coach_id, Coach.all.map { |u| ["#{u.first_name}, #{u.last_name}", u.id] }, { include_blank: true, prompt: 'Velg trener' }, { class: 'chosen-select' } %>
      </div>
    </div>
    <br><br>
    <div class="row">
	    <div class="col-md-6">
	      <%= form.select :course_niveau_id, CourseNiveau.all.map { |u| ["#{u.name}", u.id] }, { include_blank: true, prompt: 'Velg nivå' }, { class: 'chosen-select' } %>
	    </div>
	    <div class="col-md-6">
	      <%= form.select :course_place_id, CoursePlace.all.map { |u| ["#{u.name}", u.id] }, { include_blank: true, prompt: 'Velg sted' }, { class: 'chosen-select' } %>
	    </div>
	  </div>
	  <br><br>
    <%= form.submit "Oprett kurs", class: 'blue-button', style: 'width: 100%; padding: 10px' %>

		<% end %>
	</div>
<br>
<%= link_to "Slett kurs", course_path(@course),
            data: {:confirm => 'Er du sikker?'}, method: :delete, class: 'btn btn-danger', style: "color: #fff !important" %>

<%= link_to 'Vis', @course, style: 'color: #1c1c1c !important' %> |
<%= link_to 'Tilbake', courses_path, style: 'color: #1c1c1c !important' %>

</div>

</div>
