<h2 style="padding-top;padding-left: 50px;">Ny email</h2>
<div class="page-card">
    <br>
  <%= form_with(model: email, local: true) do |form| %>
    <% if email.errors.any? %>
      <div id="error_explanation">
        <h2>En feil forbød at denne e-posten ble lagret:</h2>

        <ul>
        <% email.errors.full_messages.each do |message| %>
          <li style="color:#1c1c1c;"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :emne %><br>
      <%= form.text_field :subject, style: 'width: 100%' %>
    </div><br>

    <div class="field">
      <%= form.label :innhold %><br>
      <%= form.cktext_area :content, ckeditor: { language: 'nb'} %>
    </div><br>

    <div class="row">
      <div class="col-md-6">

        <%= form.label :kurs %><br>
        <%= form.select :course_id, Course.all.map { |u| ["#{u.course_category.name}, #{u.course_place.name}, #{u.day.strftime('%A | %b %d')}", u.id] }, { include_blank: true }, { class: 'chosen-select' } %>
      </div>
      <div class="col-md-6">
        <%= form.label :deltaker %><br>
        <%= form.select :member_id, Member.all.map { |u| ["#{u.id} - #{u.first_name} #{u.last_name}", u.id] }, { include_blank: true }, { class: 'chosen-select' } %>
      </div>
    </div>
    <center><div class="text-muted" style="font-size: 14px;">Velg kurs eller deltaker. IKKE begge!</div></center> <br>

    <div class="actions">
      <%= form.submit "Gem kladde", class: 'buy-button' %>
    </div>
  <% end %>
</div>