<div class="footer">
    <div id="footer">
        <div class="row">
            <div class="desktop">
                <div class="col-md-6">
                <p class="text-muted credit" style="padding: 10px">
                    Lær å svømme AS &copy Copyright 2018  |   Design av <%= link_to 'Roys Webdesign', 'https://royswebdesign.no/', target: :blank %>   |   Alle Rettigheter Reservert   |   <%= link_to 'Powered by ViaChat', 'https://royswebdesign.no/', target: :blank %> | <%= link_to "Admin", admin_path %>
                    </p>
                </div>
                <div class="col-md-6">
                    <div style="float:right">
                        <%= link_to (image_tag '/instagram.png'), "https://instagram.com", target: :blank %>
                        <%= link_to (image_tag '/facebook.png'), "https://facebook.com", target: :blank %>
                    </div>
                </div>
            </div>
            <div class="mobile">
                <p class="text-muted credit text-center" style="padding: 10px">
                    Lær å svømme AS &copy Copyright 2018  <br>-<br>   Design av <%= link_to 'Roys Webdesign', 'https://royswebdesign.no/', target: :blank %>   <br>-<br>   Alle Rettigheter Reservert   <br>-<br>   <%= link_to 'Powered by ViaChat', 'https://royswebdesign.no/', target: :blank %> | <%= link_to "Admin", admin_path %>
                </p>
                <%= link_to (image_tag '/instagram.png'), "https://instagram.com", target: :blank %>
                <%= link_to (image_tag '/facebook.png'), "https://facebook.com", target: :blank %>
                <br><br>
            </div>
        </div>
    </div>
</div>